@{
    ViewBag.PageTitle = Resources.Intercamber.Chat_PageName;
}

@section PageLeftBar
{
    @Html.Partial("~/Views/Shared/_LeftBarUserDetailPartial.cshtml")
}

@section PageContent {
    <style>
        .dateItem
        {
            font-style: italic;
            font-size: 11px;
            width: auto;
            background-color: #EEEEEE;
            display: block;
        }
    </style>
    <script type="text/javascript">
        var currentThreadId = @(ViewBag.IdThread ?? "null");
        var idContactDiscussion = @(ViewBag.IdContact ?? "null");
        var myName = "@(ViewBag.MyName.Replace("\"", ""))";
        var currentDate = null;
        var firstLog = true;

        $(function() {
            window.hubReady.done(function() {
                $('#sendmessage').click(function() {
                    var msg = $('#message').val();
                    window.connectedHub.server.sendMessage(idContactDiscussion, currentThreadId, myName, msg);
                    printMessage(myName, msg, new Date);
                    $('#message').val('').focus();
                });
                if (currentThreadId != null)
                    loadChat(currentThreadId);
            });
        });

        function loadChat(id) {
            currentThreadId = id;
            $("#discussion").empty();
            // load chat history 
            $.ajax({
                type: "POST",
                url: "/Talk/ChatHistory",
                contentType: "application/json; charset=utf-8",
                data: "{'id':\"" + currentThreadId + "\"}",
                dataType: "json",
                success: function(result) {
                    for (var i = 0; i < result.length; i++) {
                        var r = result[i];
                        printMessage(r.Author, r.Message, r.Date);
                    }
                    scrollToDiscussionBottom();
                },
                error: function(result) {
                    debugger;
                }
            });
        }

        function encodeText(txt) {
            return txt.replace("<", "").replace(">", "");
        }

        function addMessage(name, message, date) {
            printMessage(name, message, date);
            scrollToDiscussionBottom();
        }

        function scrollToDiscussionBottom() {
            var discussionDiv = $('#discussion');
            discussionDiv.scrollTop(discussionDiv[0].scrollHeight);
        }

        function printMessage(name, message, date) {
            if (typeof(date) == "string")
                date = instanciateDotNetDate(date);
            var dTime = (new Date(date));
            dTime.setHours(0, 0, 0, 0);
            dTime = dTime.getTime();
            if (currentDate == null || dTime != currentDate) {

                $('#discussion').append((firstLog ? '' : '<br/>') + "<span class='dateItem'>" + date.toLocaleDateString() + "</span>");
                currentDate = dTime;
                firstLog = true;
            }
            $('#discussion').append((firstLog ? '' : '<br/>') + date.toLocaleTimeString() + ' <strong> ' + name + '</strong>:&nbsp;' + message + '');
            firstLog = false;

        }
        
        function resizeComplement() {
            // resize of chat: leave 200px right, fullheight
            var discussionDiv = $('#discussion');
            discussionDiv.height($(".calcHeight").height() - 110);
            discussionDiv.width($(".pageContent").width() - $(".infoBar").width() - 200);
            $("#talkDiv").height(discussionDiv.height + $('#discussionInput').height());
        }
    </script>

    <div class="intermediaryTitle">@Resources.Intercamber.Discussion_TalkWith @ViewBag.DestName<br />
        <br />
    </div>

    <table id="talkDiv " style="margin-left: 20px; border: 2px solid #F8B74D; min-width: 600px;" class="ui-corner-all">
        <tr>
            <td style="border-bottom: 2px solid #F8B74D;">
                <div id="discussion" style="padding:5px; min-height: 30px; width: 600px; overflow: auto"></div>
            </td>
        </tr>
        <tr id="discussionInput">
            <td >
                <input type="text" style="width: 85%" id="message" />
                <input type="button" id="sendmessage" value="Send" /></td>
        </tr>
    </table>

}
