@{
    ViewBag.PageTitle = Resources.Intercamber.Login_PageName;
}
@section PageContent {
    <style type="text/css">
        .loginDiv
        {
            text-align: center;
            padding: 30px; /*10px 35px 5px 35px;*/
            width: 500px;
            border: 1px solid gray;
            background-color: white;
            /*background: transparent url("../../Images/Lock.png") no-repeat 15px 15px;*/
        }
        .title1
        {
            font-size: 22px;
            font-weight: 700;
        }
    </style>
    <script type="text/javascript">
        disableAutoWidth = true;
        $(function() {
            document.onkeypress = function(e) {
                var key = window.event ? window.event.keyCode : e.which;
                if (key == 13) {
                    $("#ConnectButton").click();
                    return false;
                }
                return true;
            };
            $("#login").focus();
            $(".pageContent").css("background-image", "url('/Images/BgGrains.png')");
            $("#ConnectButton").button();
            $("#centpourcent").css("border-left", "0");
            $("#centpourcent").css("border-right", "0");
            $("#centpourcent").css("width", "99.9%");
            $("#centpourcent").css("left", "0");
        });

        function CryptPassword() {
            $("#Password").val(Sha256($('#PasswordInput').val()));
            $('#PasswordInput').val("");
        }
    </script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div align="center" style="min-width:800px;">
            <table style="" width="100%" class="ui-corner-all loginDiv">
                <tr>
                    <td valign="middle" align="right" width="80px">
                        @Resources.Intercamber.Login_Email
                    </td>
                    <td valign="middle" align="left">
                        <input type="text" id="login" name="Email" class="loginInput" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td valign="middle" align="right">
                        @Resources.Intercamber.Login_Password
                    </td>
                    <td valign="middle" align="left">
                        <input id="PasswordInput" type="password" class="loginInput" style="width: 200px;" />
                        <input id="Password" name="Password" type="hidden" runat="server" />
                        <a href="" class="smallLink" runat="server">@Resources.Intercamber.Login_ForgottenPassword</a>
                    </td>
                </tr>
                <tr>
                    <td valign="middle" align="center" colspan="2">
                        <br/>
                        <button id="ConnectButton" onclick=" CryptPassword() " value="Connexion" >Connexion</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">@Html.Raw(ViewBag.ErrorMessage)</td>
                </tr>
            </table>
        </div>
    }
}

