@{
    ViewBag.PageTitle = Resources.Intercamber.Login_PageName;
}
@section PageContent {
    <style type="text/css">
        .loginDiv
        {
            text-align: center;
            padding: 10px 35px 5px 35px;
            width: 400px;
            border: 1px solid #3C3C3C;
            background: transparent url("../../Images/Lock.png") no-repeat 15px 15px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            document.onkeypress = function (e) {
                var key = window.event ? window.event.keyCode : e.which;
                if (key == 13) {
                    $("#ConnectButton").click();
                    return false;
                }
                return true;
            };
            $("#login").focus();
        });

        function CryptPassword() {
            $("#Password").val(Sha256($('#PasswordInput').val()));
            $('#PasswordInput').val("");
        }
    </script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div align="center">
            <table style="" width="100%" class="ui-corner-all loginDiv">
                <tr>
                    <td valign="middle" align="right" width="100px">
                        @Resources.Intercamber.Login_Email
                    </td>
                    <td valign="middle" align="left">
                        <input type="text" id="login" name="Email" class="loginInput" style="width:200px;" />
                    </td>
                </tr>
                <tr>
                    <td valign="middle" align="right">
                        @Resources.Intercamber.Login_Password
                    </td>
                    <td valign="middle" align="left">
                        <input id="PasswordInput" type="password" class="loginInput" style="width:200px;" />
                        <input id="Password" name="Password" type="hidden" runat="server" />
                    </td>
                </tr>
                <tr>
                    <td height="35" valign="middle" align="center" colspan="2">
                        <input id="ConnectButton" type="submit" onclick=" CryptPassword()" value="Connexion" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">@Html.Raw(ViewBag.ErrorMessage)</td>
                </tr>
            </table>
            <a href="" class="smallLink" runat="server">@Resources.Intercamber.Login_ForgottenPassword</a>
        </div>
    }
}

