@using System.Threading
@using CML.Intercamber.Web.Helpers
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Intercamber - @ViewBag.PageTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.8.3.min.js"></script>
    <script src="/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/Scripts/jquery.signalR-1.1.3.js"></script>
    <script src="/Scripts/Intercamber.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        var connectedHub = null;
        var hubReady = null;
        $(function() {
            var pageCode = "@(NavigationHelper.CurrentPageRoute)";
            var currentMenu = $("a[href='" + pageCode + "']");
            if (currentMenu.length > 0)
                currentMenu.addClass("ui-menu-sel");
            @if (Request.IsAuthenticated)
            {
                <text>
                window.connectedHub = $.connection.chatHub;
                window.hubReady = $.connection.hub.start();
                window.hubReady.done(function () {
                    window.connectedHub.server.getCurrentOnlineUsers();
                });
                window.connectedHub.client.printOnlineUsers = function (message) {
                    $('#footerLeft').text(message);
                };
                
                </text>
            }
        });
    </script>
    @RenderSection("PageHead", false)
</head>
<body>
    <div id="centpourcent">
        <table width="100%" style="height: 100%" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="2" class="header logo" align="center">logo 
                </td>
                <td class="titreApplication">Intercamber
                        <span class="languageSelector">
                            <a href="/Account/ChangeLanguage?id=fr">
                                <img class="imgButton @(Thread.CurrentThread.CurrentCulture.ToString().StartsWith("fr") ? "imgButtonSelected" : "")" src="~/Images/Flags/fr.png" /></a>
                            <a href="/Account/ChangeLanguage?id=es">
                                <img class="imgButton @(Thread.CurrentThread.CurrentCulture.ToString().StartsWith("es") ? "imgButtonSelected" : "")" src="~/Images/Flags/es.png" /></a>
                            <a href="/Account/ChangeLanguage?id=en">
                                <img class="imgButton @(Thread.CurrentThread.CurrentCulture.ToString().StartsWith("en") ? "imgButtonSelected" : "")" src="~/Images/Flags/en.png" /></a>
                        </span>
                </td>
            </tr>
            <tr class="ui-widget-content">
                <td height="27px" id="menuTd" class="header menu">
                    @if (Request.IsAuthenticated)
                    {
                        <ul id="menu" style="width: 100%; border: 0;">
                            <li><a href="/Home/Index">@Resources.Intercamber.Home_PageName</a></li>
                            <li><a href="#">@Resources.Intercamber.Profil_PageName</a></li>
                            <li><a href="#">@Resources.Intercamber.Contacts_PageName</a></li>
                            <li><a href="#">@Resources.Intercamber.SearchContacts_PageName</a></li>
                            <li><a href="/Talk/Threads">@Resources.Intercamber.ChatList_PageName</a></li>
                            <li><a href="#">@Resources.Intercamber.Agenda_PageName</a></li>
                            <li><a href="#">@Resources.Intercamber.Vocabulary_PageName</a></li>
                            <li><a href="#">@Resources.Intercamber.Assistance_PageName</a></li>
                            @if (SessionHelper.IsAdmin)
                            {
                                <text>
                                <li>
                                    <a href="#">@Resources.Intercamber.Admin_PageName</a>
                                    <ul>
                                        <li><a href="#">@Resources.Intercamber.UserAdmin_PageName</a></li>
                                        <li><a href="#">@Resources.Intercamber.EstablishmentAdmin_PageName</a></li>
                                        <li><a href="#">@Resources.Intercamber.Moderate_PageName</a></li>
                                        <li><a href="#">@Resources.Intercamber.Reporting_PageName</a></li>
                                    </ul>
                                </li>
                                </text>
                            }
                        </ul>
                    }
                </td>
                <td align="right" style="vertical-align:top;" class="header menu">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <text>
                                <span style="margin-bottom:8px;">
                                    @(SessionHelper.ConnectedUser != null ? SessionHelper.ConnectedUser.UserNameComplete : "null")
                                </span>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <img src="/Images/ico-disconnect.gif" class="imgButton" />
                                </a>
                                @Html.AntiForgeryToken()
                            </text>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: top;" id="pageContent">
                    @*<div align="left" class="titleDiv" id="pageTitle">
                            @ViewBag.PageTitle
                        </div>*@
                    
                    @RenderSection("PageContent")
                </td>

            </tr>
        </table>

        <div id="footerLeft" class="footerLeft">
        </div>
        <div class="footerRight">
            ©Intercamber v0.1, 2013
        </div>
    </div>
</body>
</html>
