@using System.Linq
@using CML.Intercamber.Business
<script>
    $(function () {
        $(".leftButton").button();
    });

</script>
@if (ViewBag.ConnectedUserInfo != null)
{
    <br />
    <img style="position: relative; padding-left: 130px; margin-bottom: -25px; margin-top: -5px;" src="~/Images/RoundFlagsSmall/RoundFlag_@(ViewBag.ConnectedUserInfo.IdCountry).png" />
    <img src="~/Images/NoAvatar.png" />
    <br />
    @(string.Format(Resources.Intercamber.LeftBar_Learning, ((Users)ViewBag.ConnectedUserInfo).UsersLearnLanguages.Select(x => Resources.Intercamber.ResourceManager.GetString("Languages_" + x.IdLanguage)).Aggregate((i, j) => i + ", " + j)))
    <br />
    @(string.Format(Resources.Intercamber.LeftBar_Speaking, ((Users)ViewBag.ConnectedUserInfo).UsersSpokenLanguages.Select(x => Resources.Intercamber.ResourceManager.GetString("Languages_" + x.IdLanguage)).Aggregate((i, j) => i + ", " + j)))
    <br />
    <br />

    <div align="left">
        <span class="leftButton" onclick="document.location='/Profile/MyProfile';" id="leftButtonProfile">
            <span class="infoBarTitle" style="">@Resources.Intercamber.LeftBar_MyProfile</span>
            <span style="">
                @*LeftBar_CumulatedIn
                LeftBar_TimeUnit*@
            </span>
        </span>
        <br />
        <br />
        <span class="leftButton" onclick="document.location='/Contact/MyPenpals';" id="leftButtonPenpals">
            <span class="infoBarTitle">@Resources.Intercamber.LeftBar_MyPenpals</span>
            <br />
            <span class="buttonSimpleText">
                @(ViewBag.NumContactRequests == 0 ? "" : String.Format(Resources.Intercamber.LeftBar_NContactRequests, ViewBag.NumContactRequests))
            </span>
        </span>
        <br />
        <br />
        <span class="leftButton" onclick="document.location='/Talk/MyDiscussions';"  id="leftButtonDiscussions">
            <span class="infoBarTitle">@Resources.Intercamber.LeftBar_MyDiscussions</span>
            @*LeftBar_NNewMessages
            LeftBar_0NewMessages*@
        </span>
    </div>
}
